.card-container {
  margin: 0 auto;
  width: fit-content;
  display: grid;
  grid-gap:30px;
  justify-items:center;
  grid-template-columns: auto auto;
	margin-top: 30px;
}

.img-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 5px;
  height: 200px;
  width: 200px;
  border: 3px solid gray;

}

.description-container{
  display: flex;
  flex-direction: row;
}

.description-text{
  color: whitesmoke;
  display: flex;
  margin-top: 35px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 16px;
}

.card {
  background-color: rgb(52, 52, 52);
  border: 4px solid black;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.43);
  border-radius: 5px;
  min-height: 265px;
  min-width: 500px;
  max-height: 265px;
  max-width: 500px;
}

.title-bar {

    height: 45px;
    width: 100%;
    background-color: lightgray;
    border: lightgray;
    display: flex;
    align-items: center;
    justify-content: start;
}

.title-text{
  text-align:center;
  width: 100%;
}

.card:hover{
  border-color: white;
}
#red {
      height: 10px;
      width: 10px;
      background-color: #f74544;
      border-radius: 50%;
      margin-left: 15px;
      border: 1px solid darken(#f74544, 10%);
}

#orange {
      height: 10px;
      width: 10px;
      background-color: orange;
      border-radius: 50%;
      margin-left: 15px;
      border: 1px solid darken(orange, 10%);
}

#green {
      height: 10px;
      width: 10px;
      background-color: green;
      border-radius: 50%;
      margin-left: 15px;
      border: 1px solid darken(green,10%);
}
