@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
    width: 100%;
    background-image: url("../resources/bg.png");
    background-size: 32px 32px;
    height: 100vh;
    z-index: -2;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
}



.source-text-container{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: black;
  }
  
html {
    min-height: 100%;
}

a{
    color: inherit;
}

.container {
    flex: 1;
}


.sasa {

    text-align:center;
    margin: 5rem;
    color: transparent;
    font-weight:600;
    font-family: 'Press Start 2P';
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
      -4px 0 0 #df4a42,
      2px 0 0 #91fcfe,
      4px 0 0 #4405fc;    
      animation: glitch 3s ease-in reverse infinite;


}

  

svg {
    display:inline-block;
    height:2rem;
    width:2rem;
}

#font {
    font-weight:900;
    display:block;
    font-size:.875rem;
}



@keyframes efect {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
  }
  
  .blue {

      color:rgb(45, 226, 226);
  }
  .orange {
      color:rgb(209, 95, 2);
  }
  .yellow {

      color:whitesmoke;
  }
  .pink{
      color:rgb(238, 107, 234);
  }
.pstart {
    font-family: 'Press Start 2P';

}

li {
    list-style: none;
   }
a {
    text-decoration: none;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   


